<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <!-- Css -->
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <!-- <link rel="stylesheet" href="../css/cart.css"> -->
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/notify.css">
    <link rel="stylesheet" href="../static/css/info.css">
    <link href="../static/css/styles.css" rel="stylesheet" />

    <!-- js -->
    <script src="../js/login.js"></script>
    <title>POD</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="header-top">
                <div class="logo">
                    <a href="../html/index.html" style="width: 200px; height: 200px; text-decoration: none;font-size: 2rem;">POD BOOKING
                    </a>
                </div>
                <nav class="navbar">
                    <ul class="navbar__list">
                        <li class="navbar-item">
                            <a href="../html/index.html" class="navbar__link">Trang Chủ</a>
                        </li>
                        <li class="navbar-item">
                            <a href="../html/datphong.html" class="navbar__link">Đặt phòng</a>                        
                        </li>
                        <li class="navbar-item">
                            <a href="../html/baiviet.html" class="navbar__link">Bài Viết</a>
                        </li>
                        <li class="navbar-item">

                            <style>
                                .contact-overlay {
                                    display: none;
                                    position: fixed;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: rgba(0, 0, 0, 0.5);
                                    /* Màu nền mờ tối */
                                    z-index: 998;
                                    /* Dưới modal nhưng trên các nội dung khác */
                                }

                                .contact-modal {
                                    display: none;
                                    position: fixed;
                                    top: 0;
                                    right: 0;
                                    height: 100%;
                                    width: 30%;
                                    background-color: white;
                                    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
                                    z-index: 999;
                                    /* Trên overlay */
                                    overflow-y: auto;
                                    border-radius: 5px;
                                }

                                .contact-modal-content {
                                    padding: 20px;
                                    position: relative;
                                    top: 80px;
                                }

                                .contact-close {
                                    color: #aaa;
                                    float: right;
                                    font-size: 28px;
                                    font-weight: bold;
                                }

                                .contact-close:hover,
                                .contact-close:focus {
                                    color: black;
                                    text-decoration: none;
                                    cursor: pointer;
                                }

                                .facebook {
                                    display: flex;
                                }


                                .contact-modal-content h2 {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: #990000;
                                    font-size: 33px;
                                }

                                p {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                .contact-sdt {
                                    left: 3px;
                                }

                                .contact-sdt i {
                                    padding: 15px 0px;
                                    font-size: 20px;

                                }

                                .email-contact i {
                                    padding: 15px 0px;
                                    font-size: 20px;
                                }

                                .facebook a {
                                    padding-top: 15px;
                                    padding-bottom: 40px;
                                }

                                .thank {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 18px;
                                }
                            </style>
                            <a href="#" class="navbar__link" id="contactModalLink">Liên Hệ</a>

                            <div id="contactOverlay" class="contact-overlay"></div>

                            <div id="contactModal" class="contact-modal">
                                <div class="contact-modal-content">
                                    <span class="contact-close">&times;</span>
                                    <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
                                    <p>Trung tâm Tư vấn Khách hàng</p>

                                    <br>
                                    <span class="contact-sdt"><i class="fa-solid fa-phone">0976925204</i> </span>
                                    <span class="email">
                                    </span><br>
                                    <span class="email-contact">
                                        <i class="fa-regular fa-envelope">
                                            <span class="email-detail">2251150079@ut.edu.vn</span>
                                        </i>
                                    </span><br>
                                    <span class="facebook">

                                        <a href="https://www.facebook.com/profile.php?id=100016514478285"><i
                                                class="fa-brands fa-facebook"></i>Facebook</a>
                                    </span>
                                    <p class="thank">POD BOOKING rất hân hạnh được hỗ trợ quý khách.</p>
                                </div>
                            </div>
                            <script src="../static/js/contact.js"></script>
                        </li>
                        <li class="navbar-item">
                            <a href="../html/gioithieu.html" class="navbar__link">Giới Thiệu</a>
                        </li>
                    </ul>
                </nav>
                <!-- SEARCH -->
                <!-- <div class="search-bar">
                    <form action="search.php" autocomplete="off" method="get">
                        <input type="text" placeholder="Tìm kiếm sản phẩm" name="query">
                        <button type="submit" name="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div> -->


                <div class="action">
                    <div class="action__notify">
                        <a href="">
                            <i class="fa-regular fa-bell"></i>
                        </a>
                    </div>
                    <div class="header__notify">
                        <header class="header__notify-header">
                            <h3>THÔNG BÁO MỚI NHẬN</h3>
                        </header>
                        <a href="../html/gioithieu.html" class="link-notify">

                            <div class="header__notify-list">
                                <div class="header__notify-item">
                                    <div class="header__notify-link">
                                        <img src="../img/we.jpg" alt="" class="header__notify-img">
                                        <div class="header__notify-info">
                                            <div class="header__notify-name">Bài giới thiệu</div>
                                            <div class="header__notify-description">Hãy xem bài viết giới thiệu về shop
                                                của chúng tôi để hiểu rõ về chúng tôi hơn.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="../html/baiviet.html" class="link-notify">

                            <div class="header__notify-list">
                                <div class="header__notify-item">
                                    <div class="header__notify-link">
                                        <img src="../img/myshop.jpg" alt="" class="header__notify-img">
                                        <div class="header__notify-info">
                                            <div class="header__notify-name">Các bài viết về Shop</div>
                                            <div class="header__notify-description">Hãy xem các bài viết của chúng tôi
                                                để hiểu rõ hơn về nhu cầu của bạn.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="" class="seeall" style="text-decoration: none;">Xem tất cả</a>
                        <script>
                            document.querySelector('.seeall').addEventListener('click', function(event) {
                                event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ <a>
                                alert('Không có thông báo mới');
                            });
                        </script>


                    </div>
                    <div class="action__cart">
                        <a href="../sp/cart.php"><i class="fa-solid fa-cart-shopping cart__head"></i></a>
                    </div>
                    <script>
                        // Tự động ẩn thông báo sau 2 giây
                        setTimeout(function() {
                            const message = document.querySelector('.success-message');
                            if (message) {
                                message.style.display = 'none';
                            }
                        }, 2000); // 2 giây
                    </script>

                    <!-- Bấm vào hiện form -->

                    <div class="action__login">

                        <a href="#" id="loginIcon">
                            <i class="fa-regular fa-user"></i>
                        </a>
                        <div id="userInfo" class="user-info">
                            <!-- <h2>THÔNG TIN CỦA BẠN</h2>
                            <?php if (isset($_SESSION['login'])): ?>
                                <div class="information">

                                    <p class="name-login"><strong>Họ và tên:<span
                                                class="information__user-name"><?php echo htmlspecialchars($_SESSION['login']); ?></span>
                                        </strong> </p>
                                    <p class="email-login" style=""><strong>Email:<span
                                                class="information__user-email"><?php echo htmlspecialchars($_SESSION['email']); ?></span></strong>
                                    </p>
                                    <p class="sdt"><strong>SĐT :<span class="information__user-sdt"><span
                                                    class="sdt-have0"></span><?php echo htmlspecialchars($_SESSION['sdt']); ?></span></strong>
                                    </p>
                                </div>
                                <a href="logout.php" class="logout">Đăng xuất</a>
                            <?php else: ?>
                                <p>Bạn chưa đăng nhập</p>
                            <?php endif; ?> -->
                        </div>
                    </div>

                    <a href="../html/donhang.php">
                        <i class="fa-solid fa-bag-shopping" style="position:relative; left:38px; bottom:2px;"></i>
                    </a>

                </div>
            </div>
    </div>
    </div>
    </header>
    <!-- Modal -->
    <div id="authModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>

            <!-- Login Form -->
            <div id="loginForm" class="form-nd">
                <h2>Đăng Nhập</h2>
                <form action="xulylogin.php" method="post">
                    <label for="username">Tên đăng nhập:</label>
                    <input type="text" id="username" name="username" required placeholder="Tên đăng nhập">
                    <label for="password">Mật khẩu:</label>
                    <input type="password" id="password" name="password" required placeholder="Mật khẩu">
                    <button type="submit" name="login">Đăng Nhập</button>
                </form>
                <p>Bạn chưa có tài khoản? <a href="#" id="showRegister">Đăng ký ngay</a></p>
            </div>

            <!-- Register Form -->
            <div id="registerForm" class="form-nd" style="display: none;">
                <h2>Đăng Ký</h2>
                <form action="xulydangky.php" method="post">
                    <label for="name">Họ và tên</label>
                    <input type="text" name="hovaten" id="" placeholder="Họ và tên">
                    <label for="new-username">Tên đăng nhập:</label>
                    <input type="text" id="new-username" name="new-username" required placeholder="Tên đăng nhập">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Email" name="email">
                    <label for="sdt">SDT</label>
                    <input type="tel" name="sdt" id="" placeholder="SDT">
                    <label for="new-password">Mật khẩu:</label>
                    <input type="password" id="new-password" name="new-password" required placeholder="Mật Khẩu">
                    <label for="confirm-password">Xác nhận mật khẩu:</label>
                    <input type="password" id="confirm-password" name="confirm-password" required
                        placeholder="Xác nhận Mật Khẩu">
                    <button type="submit">Đăng Ký</button>
                    <span class="error" id="error_username"></span>
                    <span class="error" id="error_email"></span>
                    <span class="error" id="error_sdt"></span>
                    <script>
                        // Kiểm tra xem có tham số error trong URL không
                        const urlParams = new URLSearchParams(window.location.search);
                        const errorUsername = urlParams.get('error_username');
                        const errorEmail = urlParams.get('error_email');
                        // ... các biến khác ...

                        // Hiển thị thông báo lỗi tương ứng với từng trường
                        document.getElementById('error_username').textContent = errorUsername;
                        document.getElementById('error_email').textContent = errorEmail;
                        // ...
                    </script>
                </form>
                <p>Đã có tài khoản? <a href="#" id="showLogin">Đăng nhập</a></p>
            </div>
            <!-- <script src="../js/test.js"></script> -->
            <script src="../js/login.js"></script>
        </div>
    </div>
    <section class="slider">
        <div class="list">
            <div class="list-images">
                <img src="../static/img/PREMIER-RESIDENCES-PHU-QUOC35515-V3-HD.jpg" alt="Đây là slide">
            </div>
            <div class="list-images">
                <img src="../static/img/DSC_3463-1.jpg" alt="Đây là slide">
            </div>
            <div class="list-images">
                <img src="../static/img/Standard-Twin-Bedroom-Premier-Residences-Phu-Quoc-Emerald-Bay-9265.jpg" alt="Đây là slide">
            </div>
        </div>
        <!-- button prev and next -->
        <div class="buttons">
            <button id="prev">
                < </button>
                    <button id="next">></button>
        </div>
        <!-- dots -->
        <ul class="dots">
            <li class="dot active"></li>
            <li class="dot"></li>
            <li class="dot"></li>
        </ul>
    </section>
    <!-- Gọi js -->
    <script src="../static/js/slideshow.js"></script>
    <br /><br />
    <main>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Dịch vụ</h2>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <!-- <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                        </span>
                        <h4 class="my-3">Tận tình</h4>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <!-- <i class="fas fa-laptop fa-stack-1x fa-inverse"></i> -->
                        </span>
                        <h4 class="my-3">Chu đáo</h4>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <!-- <i class="fas fa-lock fa-stack-1x fa-inverse"></i> -->
                        </span>
                        <h4 class="my-3">Thoải mái</h4>
                   
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Danh mục</h2>
                    <h3 class="section-subheading text-muted">Các loại phòng tiêu biểu</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/1.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading"> Phòng Standard Với Ban Công</div>
                                <div class="portfolio-caption-subheading text-muted"><button>Đặt phòng</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/2.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading"> Phòng Superior Suite 1 Giường Đôi</div>
                                <div class="portfolio-caption-subheading text-muted"><button>Đặt phòng</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/3.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading"> Phòng Superior Suite 2 Giường Đôi</div>
                                <div class="portfolio-caption-subheading text-muted"><button>Đặt phòng</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/4.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Phòng Family Room 2 Phòng Ngủ</div>
                                <div class="portfolio-caption-subheading text-muted"><button>Đặt phòng</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <!-- Portfolio item 5-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/5.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Căn Hộ 2 Phòng Ngủ</div>
                                <div class="portfolio-caption-subheading text-muted"><button>Đặt phòng</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Portfolio item 6-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/6.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Căn Hộ 2 Phòng Ngủ với hồ bơi riêng</div>
                                <div class="portfolio-caption-subheading text-muted"><button>Đặt phòng</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; POD BOOKING 2024</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="../static/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase"> Phòng Standard Với Ban Công</h2>
                                    <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/1.jpg" alt="..." />
                                    <p>Hạng phòng Standard Với Ban Công có diện tích 45m² phù hợp cho chuyến nghỉ dưỡng của các cặp đôi. Sau một ngày khám phá Nam Đảo Ngọc, quý khách trở về phòng để thư giãn trong phòng, và thưởng thức một bộ phim tuyệt vời từ TV màn hình phẳng, trước khi thả mình vào giấc ngủ trong chiếc giường cỡ King êm ái.</p>
                            
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Đóng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="../static/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase"> Phòng Superior Suite 1 Giường Đôi</h2>
                                    <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/2.jpg" alt="..." />
                                    <p>Được trang trí đẹp mắt với sàn gỗ cứng và nội thất lấy cảm hứng từ thiên nhiên, phòng Superior Suite 1 Giường Đôi Với Ban Công dành tặng cho cặp đôi không gian riêng tư, hiện đại mà tối giản, với diện tích hơn 57m². Suite có phòng ngủ với giường đôi và phòng khách riêng.</p>
                             
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Đóng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="../static/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase"> Phòng Superior Suite 2 Giường Đôi</h2>
                                    <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/3.jpg" alt="..." />
                                    <p>Những phòng Superior Suite 2 Giường Đôi Với Ban Công rộng rãi với diện tích 80m² này sẽ là sự lựa chọn hợp lý cho các nhóm khách từ 3 đến 4 người. Mỗi phòng bao gồm 02 giường đôi, nằm trong phòng ngủ riêng và không gian kết nối với phòng khách. Không gian ấm cúng nhưng thoáng mát với cửa sổ và ban công rộng mang theo ánh sáng mặt trời tự nhiên và gió biển. Các thiết bị giải trí gồm các kênh truyền hình và Wi-Fi miễn phí.</p>
                                
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Đóng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="../static/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Phòng Family Room 2 Phòng Ngủ</h2>
                                    <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/4.jpg" alt="..." />
                                    <p>Phòng Family Room 2 Phòng Ngủ của chúng tôi có 02 phòng ngủ và phòng khách riêng biệt, với tổng diện tích là 107m2. Phòng nằm trên các tầng cao với tầm nhìn hướng ra khu vườn nhiệt đới (Tầng 2-3) hoặc khu vực bể bơi và một phần bãi biển (Tầng 4 trở lên). Không gian đẹp và ấm cúng, lý tưởng cho gia đình nhỏ hoặc nhóm bạn nhỏ.</p>
                                  
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Đóng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="../static/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Căn Hộ 2 Phòng Ngủ</h2>
                                    <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/5.jpg" alt="..." />
                                    <p>Với diện tích 80m2, Căn Hộ 2 Phòng Ngủ sở hữu ban công với tầm nhìn hướng biển với phòng khách riêng biệt, vô cùng phù hợp cho các gia đình.</p>
                                    
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Đóng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="../static/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Căn Hộ 2 Phòng Ngủ với hồ bơi riêng</h2>
                                    <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/6.jpg" alt="..." />
                                    <p>Căn hộ của chúng tôi rộng từ 132 m² bao gồm 2 phòng ngủ với hồ bơi riêng, phòng khách riêng biệt với không gian ăn uống và tầm nhìn hướng ra biển. Căn hộ này sẽ là lựa chọn phù hợp cho các gia đình nhỏ và nhóm bạn.</p>
                            
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Đóng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>