<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        , made with ❤️ by
        <a href="http://127.0.0.1:5500/src/main/resources/Template/Webapp/html/index.html" target="_blank" class="footer-link fw-bolder">POD Booking</a> Team 🐱‍👤 🐱‍🏍 🤷‍♂️
      </div>
      <div>
        <!-- <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
        <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

        <a
          href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
          target="_blank"
          class="footer-link me-4"
          >Documentation</a
        >

        <a
          href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
          target="_blank"
          class="footer-link me-4"
          >Support</a
        > -->

        <div class="contact-modal-content">
          <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
          <p>Trung tâm Tư vấn Khách hàng</p>
          <span class="contact-sdt"><i class="fa-solid fa-phone">📞0383980213</i> </span>
          <span class="email">
          </span><br>
          <span class="email-contact">
              <i class="fa-regular fa-envelope">
                  <span class="email-detail">📩2251120014@ut.edu.vn</span>
              </i>
          </span><br>
          <span class="facebook">

              <a href="https://www.facebook.com/profile.php?id=100036738556993"
              target="_blank"
              ><i
                      class="fa-brands fa-facebook"></i>🌎Facebook</a>
          </span>
          <p class="thank">
            <a href="http://127.0.0.1:5500/src/main/resources/Template/Webapp/html/index.html" target="_blank">POD BOOKING</a>
             rất hân hạnh được hỗ trợ quý khách.</p>
      </div>

      </div>
    </div>
  </footer>